<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font: 13px Helvetica, arial, freesans, clean, sans-serif;
    }
    body, html {
      padding: 0;
      margin: 0;
    }
    .markdown-body {
      font-size: 15px;
      line-height: 1.7;
    }
    .markdown-body h1 {
      font-size: 2.5em;
      border-bottom: 1px solid #ddd;
    }
    .markdown-body h1,
    .markdown-body h2,
    .markdown-body h3,
    .markdown-body h4,
    .markdown-body h5,
    .markdown-body h6 {
      margin: 1em 0 15px;
      padding: 0;
      font-weight: bold;
      line-height: 1.7;
      cursor: text;
      position: relative;
    }
    .markdown-body p,
    .markdown-body blockquote,
    .markdown-body ul,
    .markdown-body ol,
    .markdown-body dl,
    .markdown-body table,
    .markdown-body pre {
      margin: 15px 0;
    }
    .markdown-body .highlight pre,
    .markdown-body pre {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
      width: 480px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .markdown-body blockquote {
      border-left: 4px solid #DDD;
      padding: 0 15px;
      color: #777;
    }
    .markdown-body code, .markdown-body tt {
      margin: 0 2px;
      padding: 0px 5px;
      border: 1px solid #ddd;
      background-color: #f8f8f8;
      border-radius: 3px;
    }
    tt, code, pre {
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      font-size: 12px;
    }
    a {
      color: #4183c4;
      text-decoration: none;
    }
    ::selection {
      text-shadow: none;
      background: rgba(65,131,196,0.4);
    }
    table {
      margin: 0 auto;
      width: 96%;
      border-collapse: collapse;
      border-left: 1px solid #CACACA;
    }
    td {
      border-right: 1px solid #CACACA;
      color: #333333;
      padding: 0 15px;
      vertical-align: top;
    }
    tr:hover {
      background-color: #eeeeee;
    }
    .markdown-body pre code {
      border: none;
    }
    .markdown-body img {
      max-width: 500px;
    }
  </style>
</head>
<body>
<table class="markdown-body">
<% for (var i = 0; i < max; i++) { %>
  <tr>
  <% l10ns.forEach(function (l10n) {%>
    <td width="<%-(1 / l10ns.length) * 100%>%">
    <% if (l10n[i]) { %>
      <%-marked(l10n[i])%>
    <% } %>
    </td>
  <% }); %>
  </tr>
<% } %>
</table>
</body>
</html>
